# Ignore virtual environment
venv/
.env/

# Ignore DINO folder (third-party repo)
DINO/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore dataset outputs, logs, and temporary files
*.log
*.csv
*.h5
*.pt
*.pth
*.ipynb_checkpoints/
*.zip
